<script type="text/javascript" src="https://cdn.wwads.cn/js/makemoney.js" async></script>

<style>
	#ad {
	    width: 125px;
	    position: fixed;
	    z-index: 19;
	    bottom: 10px;
	    right: 10px;
	    padding: 10px;
	    background-color: #fff;
	    border-radius: 3px;
	    font-size: 13px;
	}
	#ad a {
	    display: inline-block;
	    color: #4f5959;
	    font-weight: normal;
	}
	#ad span {
	    color: #4f5959;
	}
	#ad img {
	    width: 125px;
	}
	#ad .carbon-img, #ad .carbon-text {
	    display: block;
	    margin-bottom: 4px;
	    font-weight: normal;
	    color: #304455;
	}
	#ad .carbon-poweredby {
	    color: #aaa;
	    font-size: 10px;
	    letter-spacing: 0.8px;
	    text-transform: uppercase;
	    font-weight: normal;
	}
</style>